In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1370,tt0377818,50000000,110803676,The Dukes of Hazzard,Johnny Knoxville|Seann William Scott|Jessica S...,Jay Chandrasekhar,Cousins. Outlaws. Thrillbillies.,Bo and Luke Duke are southern cousins. In Hazz...,104,Action|Adventure|Comedy,Village Roadshow Pictures|Gerber Pictures|Warn...,8/5/2005,5.2,2005
1293,tt2473682,5000000,86362372,Paranormal Activity: The Marked Ones,Richard Cabral|Carlos Pratts|Eddie J. Fernande...,Christopher B. Landon,You're one of us now.,Seventeen-year-old Jesse has been hearing terr...,84,Horror|Thriller,Blumhouse Productions|Room 101|Solana Films,12/31/2013,5.3,2013
224,tt2771372,6000000,3485127,Veronica Mars,Kristen Bell|Jason Dohring|Enrico Colantoni|Ch...,Rob Thomas,She thought she was out,Years after walking away from her past as a te...,107,Comedy|Drama|Crime,Warner Bros.|Warner Bros. Interactive Entertai...,3/13/2014,6.3,2014

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# В нескольких задачах проекта потребуется находить прибыль компаний, 
# поэтому сразу добавим столбец profit в исходный файл
data['profit'] = data['revenue'] - data['budget']

# Данные в некоторых столбцах для решения требуемых задач необходимо разделить,
# поэтому добавим функцию преобразующую строку даных в список данных
def stringtolist(string):
    result = string.str.split('|')
    return result

# 1. У какого фильма из списка самый большой бюджет?

In [4]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [5]:
max_budget = data[data.budget == data.budget.max()]
display(max_budget)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
answers['2'] = 'Gods and Generals (tt0279111)'

In [7]:
max_runtime = data[data.runtime == data.runtime.max()]
display(max_runtime)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [9]:
min_runtime = data[data.runtime == data.runtime.min()]
display(min_runtime)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = '110'

In [11]:
mean_runtime = data.runtime.mean()
display(mean_runtime)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '107'

In [13]:
median_runtime = data.runtime.median()
display(median_runtime)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
answers['6'] = 'Avatar (tt0499549)'

In [15]:
profit_movie = data[data.profit == data.profit.max()]
display(profit_movie)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [16]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [17]:
loss_movie = data[data.profit == data.profit.min()]
display(loss_movie)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
answers['8'] = '1478'

In [19]:
revenue_count = data[data.revenue > data.budget].shape[0]
display(revenue_count)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [20]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [21]:
# Сначала находим значение максимальных сборов в 2008 году
max_revenue = data[data.release_year == 2008].revenue.max()
# Затем по значению сборов находим нужный фильм
revenue_2008 = data[(data.release_year == 2008) & (data.revenue == max_revenue)]
display(revenue_2008)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [22]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [23]:
# Сначала находим наибольшее значение убытков в период с 2012 по 2014 год
max_loss = data[(data.release_year>=2012) & (data.release_year<=2014)].profit.min()
# Затем по значению убытков находим нужный фильм
data[(data.release_year>=2012) & (data.release_year<=2014) & (data.profit == max_loss)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [24]:
answers['11'] = 'Drama'

In [25]:
# Разделим названия фильмов в столбце genres
genres_split = stringtolist(data['genres']).sum()
# Посчитаем наиболее часто встречаемый жанр фильмов
Counter(genres_split).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [26]:
answers['12'] = 'Drama'

In [27]:
revenue_genre = data.copy()
# Разделим названия фильмов в столбце genres и добавим их в датасет 
revenue_genre['genre_split'] = stringtolist(revenue_genre['genres'])
# Посчитаем наиболее часто встречаемый жанр фильмов при условии, что прибыль больше нуля
Counter(revenue_genre[revenue_genre.profit>0]['genre_split'].sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [28]:
answers['13'] = 'Peter Jackson'

In [29]:
revenue_director = data.groupby(['director'])['revenue'].sum()
revenue_director = revenue_director.sort_values(ascending=False)
revenue_director.head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [30]:
answers['14'] = 'Robert Rodriguez'

In [31]:
action_director = data.copy()
# Разделим жанры в столбце genres по одному и имена режиссеров фильмов в столбце director по одному
action_director['genre_split'] = stringtolist(action_director['genres'])
action_director = action_director.explode('genre_split')
action_director['director_split'] = stringtolist(action_director['director'])
action_director = action_director.explode('director_split')
# Находим режиссера, введя данное в задаче условие
action_director = action_director[action_director.genre_split == 'Action']
action_director.director_split.value_counts().head(1)

Robert Rodriguez    9
Name: director_split, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [32]:
answers['15'] = 'Chris Hemsworth'

In [33]:
data_2012 = data.copy()
data_2012 = data_2012[data_2012.release_year == 2012]
data_2012['cast_split'] = stringtolist(data_2012['cast'])
data_2012 = data_2012.explode('cast_split')
data_2012.groupby('cast_split')['revenue'].sum().sort_values(ascending=False).head(1)

cast_split
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [34]:
answers['16'] = 'Matt Damon'

In [35]:
budget_actor = data.copy()
# Разделим актеров в столбце cast по одному
budget_actor['cast_split'] = stringtolist(budget_actor['cast'])
budget_actor = budget_actor.explode('cast_split')
# Найдем среднее значеие бюджета всех фильмов датасета
mean_budget = budget_actor.budget.mean()
# Считаем высокобюджетным фильм, бюджет которого выше среднего значения и находим нужного актера
budget_actor[budget_actor.budget > mean_budget].cast_split.value_counts().head(1)

Matt Damon    18
Name: cast_split, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [36]:
answers['17'] = 'Action'

In [37]:
genre_cage = data.copy()
# Разделим актеров в столбце cast по одному и жанры фильмов в столбце genres по одному
genre_cage['cast_split'] = stringtolist(genre_cage['cast'])
genre_cage = genre_cage.explode('cast_split')
genre_cage['genre_split'] = stringtolist(genre_cage['genres'])
genre_cage = genre_cage.explode('genre_split')
# Находим любимый жанр актера Nicolas Cage
genre_cage = genre_cage[genre_cage.cast_split == 'Nicolas Cage']
genre_cage.genre_split.value_counts().head(1)

Action    17
Name: genre_split, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [38]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [39]:
data_paramount = data.copy()
# Разделим компании в столбце production_companies по одной
data_paramount['all_companies'] = stringtolist(data_paramount['production_companies'])
data_paramount = data_paramount.explode('all_companies')
# Находим самый убыточный фильм от Paramount Pictures 
data_paramount = data_paramount[data_paramount.all_companies == 'Paramount Pictures']
data_paramount[data_paramount.profit == data_paramount.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,all_companies
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [40]:
answers['19'] = '2015'

In [41]:
data_year = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending =False)
data_year.head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [42]:
answers['20'] = '2014'

In [43]:
WB_profit = data.copy()
# Разделим компании в столбце production_companies по одной
WB_profit['all_companies'] = stringtolist(WB_profit['production_companies'])
WB_profit = WB_profit.explode('all_companies')
# Находим самый прибыльный год для студии Warner Bros, 
# учитывая, что в датасете несколько студий имеющих в названии "Warner Bros"
WB_profit = WB_profit[WB_profit.all_companies.str.contains("Warner Bros",na=False)]
WB_profit = WB_profit.groupby('release_year')['profit'].sum().sort_values(ascending=False)
WB_profit.head(1)

release_year
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [44]:
answers['21'] = 'Сентябрь'

In [45]:
pop_month = data.copy()
# Изменяем формат времени в датасете, применяя pd.to_datetime
pop_month['release_date'] = pd.to_datetime(pop_month['release_date'])
# Добавляем в датасет месяц выхода фильма, взяв его из даты, применяя dt.month, и находим самый популярный месяц
pop_month['release_month'] = pop_month['release_date'].dt.month
pop_month['release_month'].value_counts().head(1)

9    227
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [46]:
answers['22'] = '450'

In [47]:
summer_time = data.copy()
# Изменяем формат времени в датасете и добавляем в датасет месяц выхода фильма
summer_time['release_date'] = pd.to_datetime(summer_time['release_date'])
summer_time['release_month'] = summer_time['release_date'].dt.month
# Фильтруем данные, использую функцию query и находим количество фильмов
summer_time = summer_time.query('release_month in ["6", "7", "8"]')
len(summer_time)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [48]:
answers['23'] = 'Peter Jackson'

In [49]:
winter_director = data.copy()
# Изменяем формат времени в датасете и добавляем в датасет месяц выхода фильма
winter_director['release_date'] = pd.to_datetime(winter_director['release_date'])
winter_director['release_month'] = winter_director['release_date'].dt.month
# Фильтруем данные, использую функцию query
winter_director = winter_director.query('release_month in ["1", "2", "12"]')
# Разделим имена режиссеров фильмов по одному и находим самого зимнего режиссера
winter_director['directors'] = stringtolist(winter_director['director'])
winter_director = winter_director.explode('directors')
winter_director.directors.value_counts().head(1)

Peter Jackson    7
Name: directors, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [50]:
answers['24'] = 'Four By Two Productions'

In [51]:
longname_company = data.copy()
# Добавляем в датасет длину названий фильмов, применяя функцию str.len()
longname_company['title_length'] = longname_company.original_title.str.len()
# Разделим компании по одному и находим компанию с самыми длинными в среднем названиями фильмов
longname_company['all_companies'] = stringtolist(longname_company['production_companies'])
longname_company = longname_company.explode('all_companies')
longname_company.groupby('all_companies')['title_length'].mean().sort_values(ascending=False).head(1)

all_companies
Four By Two Productions    83.0
Name: title_length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [52]:
answers['25'] = 'Midnight Picture Show '

In [53]:
longoverview_company = data.copy()
# Добавляем в датасет количество слов в описании, применяя функцию str.split().str.len() к столбцу overview
longoverview_company['overview_length'] = longoverview_company['overview'].str.split().str.len()
# Разделим компании по одному и находим компанию с самыми длинными в среднем количеством слов в описании
longoverview_company['all_companies'] = stringtolist(longoverview_company['production_companies'])
longoverview_company = longoverview_company.explode('all_companies')
longoverview_company.groupby('all_companies')['overview_length'].mean().sort_values(ascending=False).head(1)

all_companies
Midnight Picture Show    175.0
Name: overview_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [54]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [55]:
# Вызовем список всех оценок фильмов
all_votes = data.vote_average.sort_values(ascending=False)
# Найдем 99 перцентиль по оценкам фильмов с помощью функции np.percentile
most_votes = np.percentile(all_votes, 99)
# Найдем 1 процент лучших фильмов (их оценка будет выше, чем найденный 99 перцентиль)
best_movies = data[data.vote_average > most_votes]
best_movies['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [56]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [57]:
from itertools import combinations
from itertools import chain
cast_combinations = data.copy()
# Добавим список атеров
cast_combinations['cast_split'] = stringtolist(cast_combinations['cast'])
# Найдем в списках актеров наиболее часые совпадения с помощю функций combinations и chain 
cast_combinations['cast_together'] = cast_combinations.cast_split.apply(lambda x: list(combinations(x, 2)))
list1 = cast_combinations.cast_together.tolist()
list2 = chain(*list1)
Counter(list2).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [58]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show ',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [59]:
len(answers)

27